.modal {
    margin: 1rem;
}

.modal_header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

img {
    height: 5rem;
}

.modal_header-right {
    display: flex;
    flex-direction: column;
    gap: -2rem;
}

.modal_header-rightSection {
    display: flex;
    gap: 2rem;

}
.statusInfo{
    font-weight: 500;
    border-radius: 1rem ;
    padding: 0.1rem 1rem !important;
    font-size: 14px;
}

.upcoming {
    color: orange;
    background-color: #ffa5002e;
}

.success {
    color: green;
    background-color: #00800047;
}

.failure {
    color: red;
    background-color: #ff000038;
}

h4,
p {
    margin: 0 !important;
    padding: 0 !important;
}

.modal_left {
    margin-bottom: 1rem;
}

.modal_left>p {
    font-size: 14px;
}