.modal{
    margin: 1rem;
}

.modal_header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
img{
    height: 5rem;
}
.modal_header-right{
    display: flex;
    flex-direction: column;
    gap: -2rem;
}
h4, p{
    margin: 0 !important;
    padding: 0 !important;
}
.modal_left>p{
    font-size: 14px;
}
