.modal {
    margin: 1.5rem;
}

.modal_header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

img {
    height: 5rem;
}

.modal_header-right {
    display: flex;
    flex-direction: column;
    gap: -2rem;
}

.modal_header-rightSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 3fr;

}
.statusInfo{
    font-weight: 500;
    border-radius: 1rem ;
    padding: 0.1rem 1rem !important;
    font-size: 14px;
    height: 1.3rem;
}

.upcoming {
    color: orange;
    background-color: #ffa6002c;
}

.success {
    color: green;
    background-color: #00800033;
}

.failure {
    color: red;
    background-color: #ff000029;
}

h4,
p {
    margin: 0 !important;
    padding: 0 !important;
}

.modal_left {
    margin-bottom: 1rem;
}

.modal_left>p {
    font-size: 14px;
}

.modal-right_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:15px
}
hr{
    border: solid 0.1px #80808038;
}
.closeBtn{
    background: none;
    border: none;
    font-size: 16px;
    float: right;
    align-items: center;
    display: flex;
    justify-content: end;
}
.wiki{
    text-decoration: none;
    color: blue;
}
.media-links{
    display: flex;
    gap: 1rem;
}
.web-links{
    text-decoration: none;
color: gray;
}